/******** GEN FONT + TEXT  ********/
body {
    color: rgb(91, 63, 63);
    font-family: FT88-Serif;
    background-color: rgb(251, 255, 233);
}

@font-face {
    font-family: FT88-Serif;
    src: url(FT88-Serif.otf);
}

@font-face {
    font-family: PPNeueBit;
    src: url(PPNeueBit-Bold.otf);
}

a:link, a:visited {
    text-decoration: none;
    color: #5C85FE;
}
  
a.hover, a.active {
    color: #5C85FE;
}

.section a:link, a:visited {
    text-decoration: none;
    color: rgb(91, 63, 63);
}
  
.section a.hover, a.active {
    color: rgb(91, 63, 63);
}

/******** NAV + PAGE SPLIT FORMAT  ********/

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
}

.left {
    left: 0;
    width: 30%;
}

.right {
    right: 0;
    width: 70%;
    border-left: thick double rgb(91, 63, 63);
    overflow: scroll;
}

.horizontal-divider {
    border: .5px solid rgb(91, 63, 63);
    border-radius: 5%;
    position: relative;
}

#vertical-divider {
    border-left: 2px solid rgb(91, 63, 63);
    height: 100%;
    position: absolute;
    left: 30%;
}

.risoImg {
    position: relative;
    height: 200px;
    z-index: 200;
}

.risoImg img {
    height: 100%;
    width: 55%;
    margin: auto;
    display: block;
}

.section {
    position: relative;
    z-index: 200;
    font-size: 2vw;
    line-height: 1em;
    margin: 10px 5px 10px 15px;
}

/******** TEXT + MAIN IMAGES  ********/

.right-header-img {
    width: 99.95%;
    height: 45%;
    display: block;
    margin-left: .2vw;
}

.inner-desc-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    outline: 1px dashed #5C85FE;
}

#icon {
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted black;
}


#page-title {
    font-family: FT88-Serif;
    text-align: left;
    font-size: 1.9vw;
    line-height: 1em;
    margin-left: 2.5%;
    position: relative;
}

#description {
    height: 100%;
}

.main-text {
    font-family: PPNeueBit;
    text-align: left;
    font-size: 2vw;
    line-height: 1em;
    margin-left: 2.5%;
    width: 90%;
}

.highlight {
    color: #5C85FE;
    text-decoration: underline;
}

iframe{ 
    border: none; 
    width: 90%;
    height: 90%;
    margin-left: 2.5%;
}


/********  SIZING  ********/


@media only screen and (max-width: 600px) {

    .risoImg {
        position: relative;
        height: 100px;
        z-index: 200;
    }
    
    .risoImg img {
        height: 100%;
        width: 55%;
        margin: auto;
        display: block;
    }


    .right-header-img{
        height: 20%;
    }

    .section {
        position: relative;
        z-index: 200;
        font-size: 3vw;
        line-height: 1em;
        margin: 10px 5px 10px 15px;
    }


    #page-title {
        font-family: FT88-Serif;
        text-align: left;
        font-size: 4vw;
        line-height: 1em;
        margin-left: 2.5%;
        position: relative;
    }

    .main-text {
        font-family: PPNeueBit;
        text-align: left;
        font-size: 4vw;
        line-height: 1em;
        margin-left: 2.5%;
        width: 90%;
    }
}