#logo {
    width: 400px;
}

.content {
    max-width: 600px;
    text-align:center;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.directory {
    max-width: 200px;
    margin: auto;
    font-size: 12px;
}

#selected {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

#deselected {
    font-weight: lighter;
}

#title {
    font-size: 20px;
}

.cart-item {
    margin: auto;
    width: 400px;
}

.cart-item img {
    width: 200px;
    border: 2px solid black;
}

.remove-text {
    font-weight: bold;
    text-decoration: underline;
}

hr.solid {
    border-top: 3px solid black;
}

.price {
    font-size: 16px;
}

.button {
    background-color: yellow;
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}